1 <!DOCTYPE html>
2 <html lang="en" dir="ltr">
3 	<head>
4 		<meta charset="utf-8">
5 		<title></title>
6 		<style>
7 			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
8 		</style>
9 	</head>
10 	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
11 		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
12 			<section style="margin: 0 15px;color:#425b76;">
13 				<h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you to registration</h2>
14 				<hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
15 				<p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Hi {{username}}, we have received your details and will process soon.</p>
16 			</section>
17 		</div>
18 	</body>
19 </html>
